doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Mark Ridgwell Photography
		meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(name='description' content='Mark Ridgwell Photography, a Harlow based music and events photographer.')
		meta(name='keywords' content='Harlow, Essex, Photographer, Music, Live Music, Events')
		meta(name='author' content='Mark Ridgwell')
		meta(name='twitter:site' content='@credfeto')
		meta(name='twitter:creator' content='@credfeto')
		link(rel='shortcut icon' href= favicon)
		link(rel='stylesheet' type='text/css' href= css)
		
	body
		ul(class='cb-slideshow')
			each item in images
				li
					span &nbsp;
					div
						h3= item.displayName
		
		div(class='container')
			header
				h1 Mark Ridgwell Photography
				h2 Photographer based in Harlow, Essex.

				p
					ul(class='contact')
						li(class='facebook')
							a(href='https://www.facebook.com/mark.ridgwell.photos/') Facebook
						li(class='twitter')
							a(href='https://twitter.com/mtrphotos') Twitter
						li(class='instagram')
							a(href='https://www.instagram.com/markridgwellphotography/') Instagram